@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.loadingscreen {
  width: 100%;
  position: fixed;
  height: 100vh;
  background-color: white;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingscreen img {
  width: 100%;
}

.header {
  padding: 1.3rem 1rem;
}
.header .wallet {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .balance {
  padding: .5rem;
}
.header .balance h2:before {
  content: "Balance";
  font-size: .8rem;
  position: absolute;
  top: -5px;
  font-weight: 500;
}
.header .balance .balance_hr {
  margin: .3rem 0;
  border: .1px solid lightgrey;
}
.header .balance p {
  font-size: .8rem;
  font-weight: 700;
}
.header .balance p:before {
  content: "Bonus Balance: ";
  font-size: .8rem;
  font-weight: 500;
}

.header .action {
  display: flex;
}
.header .action .topup {
  margin: 0 .3rem;
  padding: .5rem;
  border-radius: 10px;
  background-color: #f5f5f5;
  font-size: 1.3rem;
}
.header .action .history {
  font-size: 1.3rem;
  margin: 0 .3rem;
  padding: .5rem;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.ios_bars {
  background-color: lightgrey;
  height: 5px;
  width: 50px;
  border-radius: 20px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: none;
}
.bottombar {
  width: auto;
  height: auto;
  background-color: white;
  z-index: 2;
  position: fixed;
  left: 50%;
  bottom: 15px;
  box-shadow: 0 5px 8px 1px rgba(0,0,0,0.05);
  transform: translateX(-50%);
  transition: all .3s ease;
  border-radius: 50px;
}
.bottombar .content {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-self: center;
  text-align: center;
  transition: all .3s ease;
  position: relative;
}
.bottombar .content .items {
  padding: .5rem;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 10px;
  transition: all .3s ease;
}
.bottombar .content .active > i {
  visibility: hidden;
}
.bottombar .content .active:before {
  content: attr(data-name);
  position: absolute;
  top: 35%;
  transform: translateX(0px);
  transition: all .3s ease;
}
.bottombar .content .active:after {
  content: '';
  position: absolute;
  bottom: 15px;
  transform: translateX(-29px);
  background-color: #121212;
  border-radius: 50px;
  width: 8px;
  height: 8px;
  transition: all .3s ease;
}
.bottombar .content .items i {
  font-size: 1.5rem;
  margin: 0 .8rem;
}

.modal_overflow {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,.3);
  z-index: 1;
  display: none;
}
.modal_overflow .modal {
  margin: 2rem;
  height: auto;
  background-color: white;
  border-radius: 10px;
}
.modal_overflow .modal .content {
  padding: 1rem;
}
.modal_overflow .modal .content ol {
  margin-top: 1rem;
  list-style-type: none;
}
.modal_overflow .modal .content .button {
  padding: .5rem 1rem 0;
  display: flex;
  justify-content: center;
}
.modal_overflow .modal .content .button button {
  padding: .6rem .7rem;
  background-color: #121212;
  color: white;
  border-radius: 50px;
  border: 0;
  outline: none;
  font-weight: 500;
}

hr {
  margin: 0 1rem .5rem;
  border: .1px solid lightgrey;
}
.hr2 {
  margin: 0 1rem;
  border: .1px solid transparent;
}

.category .group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
}
.category .group .items {
  margin: .3rem 0 0 1rem;
  min-width: 120px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.category .group .items img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.category .group .lastitems {
  min-width: 1rem;
  height: 50px;
  background-color: transparent;
}

.product {
  position: relative;
}
.product h2, .product .subtitle {
  margin-left: 1rem;
}
.product .group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.product .group .items {
  margin: .5rem 1rem;
  width: 40%;
  max-width: 40%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.product .group .items img {
  width: 100%;
  border-radius: 10px;
}
.product .group .items .text {
  padding: 0 0 .5rem;
}
.product .more {
  padding: .5rem 1rem 1rem;
  display: flex;
  justify-content: center;
}
.product .more button {
  padding: .6rem .7rem;
  background-color: #121212;
  color: white;
  border-radius: 50px;
  border: 0;
  outline: none;
  font-weight: 500;
}

.product .group2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  margin-bottom: 1rem;
}
.product #promocon {
  background-color: #9732cc;
  padding-bottom: .5rem;
}
.product #promocon2 {
  background-color: #a11ea0;
  padding-bottom: .5rem;
}
.product #promobox, #promobox2 {
  height: 80%;
  width: 150px;
  position: absolute;
}
.product #promobox img, #promobox2 img {
  height: 150%;
  transform: translateY(-10px)translateX(-10px);
}
.product .group2 .items {
  margin: .5rem .5rem 0 1rem;
  background-color: #f5f5f5;
  border-radius: 10px;
  width: auto;
  height: 110px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.product .group2 .items:first-child {
  margin: .5rem .5rem 0 10.5rem;
}
.product .group2 .more {
  margin: 0;
  padding: 0;
  padding-left: .5rem;
  min-width: 130px;
  height: auto;
  background-color: transparent;
  color: white;
}
.product .group2 .lastitems {
  min-width: 1rem;
  height: 100px;
  background-color: transparent;
}
.product .group2 .items img {
  height: 100%;
  border-radius: 10px 0 0 10px;
}
.product .group2 .items .text {
  padding: .5rem;
  min-width: 150px;
  max-width: 150px;
}

#tooltip {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
}