@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo img {
  height: 40px;
}
nav .action .icon svg {
  width: 25px;
  height: 25px;
}

.swiper-container .swiper-wrapper .swiper-slide .slide {
  height: 125px;
  margin: 0 1.5rem;
  background-color: #F5F5F5;
  border-radius: 20px;
}
.swiper-pagination-bullet {
  border-radius: 1.5px;
  background-color: #86da36;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all .3s ease;
}
.sticky + .content {
  transition: all .3s ease;
  padding-top: 102px;
}

.category .group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  background-color: white;
}
.category .group .items {
  margin: 1rem 0 1rem 1.5rem;
  padding: .5rem .6rem;
  border: 1.5px solid #86da36;
  background-color: transparent;
  color: #86da36;
  border-radius: 10px;
  white-space: nowrap;
  transition: all .3s ease;
  font-size: .8rem;
  font-weight: 500;
}
.category .group .items:hover:not(.items-active) {
  margin: 1rem 0 1rem 1.5rem;
  padding: .5rem .6rem;
  border: 1.5px solid transparent;
  background-color: #86da36;
  color: white;
  border-radius: 10px;
  white-space: nowrap;
}
.category .group .active {
  margin: 1rem 0 1rem 1.5rem;
  padding: .5rem .6rem;
  border: 1.5px solid transparent;
  background-color: #86da36;
  color: white;
  border-radius: 10px;
  white-space: nowrap;
}
.category .group .items-more {
  margin: 1rem 0 1rem 1.5rem;
  padding: .5rem 0;
  color: #86da36;
  font-weight: 600;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: .8rem;
}
.category .group .lastitems {
  padding: .5rem;
  min-width: 1rem;
  background-color: transparent;
}

.loader-section {
  padding: 1rem 0;
  display: none;
}
.loader-section .loader {
  border: 5px solid #F5F5F5;
  border-radius: 50%;
  border-top: 5px solid #86da36;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  animation: 1s spin linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  height: 51.9vh;
  display: none;
}
.container h2 {
  margin-bottom: .5rem;
  margin-left: 1.5rem;
}
.container .product-section .group {
  margin: 0 1.4rem;
  display: flex;
  justify-content: space-between;
  height: auto;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.container .product-section .group .items {
  margin: 0 .1rem;
  padding: 0 0 1rem 0;
  width: 45%;
}
.container .product-section .group .items img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: -5px;
}
.container .product-section .group .items .items-data h3 {
  margin-bottom: -5px;
}

.shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,.3);
  display: none;
  z-index: 1;
}

.category-section {
  height: 30%;
  width: 100%;
  position: fixed;
  bottom: -30%;
  background-color: white;
  border-radius: 25px 25px 0 0;
  z-index: 1;
  transition: all .3s ease;
}
.category-section:after {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: lightgrey;
  border-radius: 50px;
}
.category-section .content {
  height: 100%;
  padding: 2rem 0 0rem;
  color: black;
  transition: all .3s ease;
  background-color: rgba(0,0,0,0);
}
.category-section .content .h3 {
  margin-left: 1.5rem;
  color: #86da36;
}

.category-section .content .categorys .group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  height: 100%;
}
.category-section .content .categorys .group .items {
  margin: .5rem 0 0 1.5rem;
  min-width: 125px;
  position: relative;
  height: 25vh;
}
.category-section .content .categorys .group .items img {
  width: 100%;
  height: 15vh;
  border-radius: 10px;
  background-position: center;
}
.category-section .content .categorys .group .items .h3a {
  padding: .5rem;
  position: absolute;
  top: 0;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
.category-section .content .categorys .group .lastitems {
  margin: .5rem 0 0 1.5rem;
  min-width: .5rem;
  position: relative;
  height: 25vh;
}