@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

nav {
  padding: 1rem 1rem .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo img {
  height: 40px;
}
nav .group {
  display: flex;
}
nav .group #sidebar {
  margin-left: .8rem;
}

.shape {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,.5);
  display: none;
  z-index: 1;
}

.sidebar {
  height: 100%;
  width: 13rem;
  position: fixed;
  top: 0;
  right: -13rem;
  background-color: white;
  z-index: 1;
  transition: all .3s ease;
}
.sidebar .user {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.sidebar .user img {
  height: 40px;
  border-radius: 10px;
  margin-right: .5rem;
}
.sidebar .user p {
  font-weight: 500;
}

.sidebar .list ul {
  list-style: none;
}
.sidebar .list ul li {
  margin: .5rem 0;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
}
.sidebar .list ul li:active {
  background-color: #4361EE;
  color: white;
}
.sidebar .list ul li:last-child {
  margin: .5rem 0;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  color: #D90429;
}
.sidebar .list ul li:last-child:active {
  background-color: #D90429;
  color: white;
}
.sidebar .list ul li i {
  font-size: 1.2rem;
  margin-right: .5rem;
}

.searchbox {
  margin: 1rem 1rem 0;
  padding: 0 .5rem;
  background-color: #F5F5F5;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.searchbox input {
  width: 100%;
  margin-left: .5rem;
  padding: .8rem 0;
  background-color: transparent;
  border: 0;
  font-size: .8rem;
  outline: none;
}
.searchbox form {
  width: 100%;
}
.autocomplete {
  width: 100%;
  position: relative;
  display: inline-block;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #FFFFFF;
}
.autocomplete-items {
  position: absolute;
  border: 0;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  margin: .3rem 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #D4D4D4;
  background-color: white;
}
.autocomplete-items div:hover {
  background-color: #E9E9E9;
}
.autocomplete-active {
  background-color: DodgerBlue!important;
  color: #FFFFFF;
}

.pagesearch {
  background-color: white;
  width: 100%;
  height: 100%;
  bottom: -100%;
  position: fixed;
  z-index: 2;
  transition: all .3s ease;
}
.pagesearch .content {
  padding: 1rem;
}

.menu .text {
  padding: 1rem 1.5rem .5rem;
}
.menu .category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
}
.menu .category .item {
  min-width: 125px;
  height: 50px;
  margin: 0 0 0 1.5rem;
  border-radius: 15px;
  position: relative;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  animation: 1s shine infinite;
}
.menu .category .item img {
  min-width: 125px;
  height: 50px;
  border-radius: 15px;
  position: absolute;
  z-index: -1;
}
.menu .category .itemlast {
  height: 50px;
  min-width: 1.5rem;
  margin: 0;
  background-color: transparent;
}

.hr {
  margin: 1rem 1.5rem;
  border: .1px solid lightgrey;
  opacity: .5;
  border-radius: 50px;
}

.menu .recipe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
}
.menu .recipe .item {
  min-width: 225px;
  min-height: 230px;
  height: 100%;
  margin: 0 0 0 1.5rem;
  border-radius: 15px;
  position: relative;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  animation: 1s shine infinite;
}
.menu .recipe .item img {
  min-width: 225px;
  min-height: 230px;
  height: 100%;
  border-radius: 15px;
  position: absolute;
}
.menu .recipe .item .content {
  position: absolute;
  width: 100%;
  padding: .8rem 0;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  color: white;
  background-color: rgba(0,0,0,.5);
}
.menu .recipe .item .content h3 {
  padding: 0 1rem;
}
.menu .recipe .item .content p {
  padding: 0 1rem;
  font-size: .8rem;
}

.menu .recipe .itemlast {
  height: 80px;
  min-width: 1.5rem;
  margin: 0;
  background-color: transparent;
}

.openrecipe {
  height: 90%;
  width: 100%;
  max-height: 90%;
  position: fixed;
  right: 0;
  bottom: -90%;
  background-color: white;
  z-index: 1;
  transition: all .3s ease;
}
.openrecipe .content {
  padding: .5rem 1rem;
}
.openrecipe .content .title {
  text-align: center;
}
.openrecipe .content .title p {
  font-size: .9rem;
}
.openrecipe .thumbnail {
  padding: 0 2rem .5rem;
}
.openrecipe .thumbnail img {
  border-radius: 15px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.openrecipe .desc {
  padding: 1rem;
}
.openrecipe .action button {
  width: 100%;
  padding: .8rem .5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #4361EE;
  border-radius: 15px;
  border: 2px solid #4361EE;
  background-color: #FFFFFF;
}
.openrecipe .action button:active,button:focus {
  outline: none;
  color: white;
  border: 1px solid #4361EE;
  background-color: #4361EE;
}
#closerecipe {
  display: none;
}

footer {
  width: 100%;
  position: fixed;
  background-color: white;
  bottom: 0;
}
footer .nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .nav .item {
  text-align: center;
}

@keyframes shine {
  0% {
    background-position: -125px;
  }
  40%,
  100% {
    background-position: 125px;
  }
}